 body{
        margin: 0;
        padding: 0;
    }
    .top-img{
        width: 100%;
    }
    .nav{
    width: 80%;
    margin:  0 auto;
   position: absolute;
   top: 10px;
   left: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
    }
    .logo{
  display: flex;
  align-items: center;
    }
    .logo span{
        color: white;
         font-family: 'Spinnaker', sans-serif;
    }
    .links{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    .links a{
        text-decoration: none;
        color: white;
    }
